<%- include('partials/headertwo') %>

    <div class="container">
      <div class="row">
        <div class="col-12"><canvas id="bar-chart-horizontal"></canvas></div>

        <div style="margin-top: 80px;" class="col-12"><canvas id="pie-chart"></canvas></div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script>
    var dataa = [0];
    <% for (let i = 0; i < quant.length; i++) { %>
      dataa.push(<%=quant[i]%>);
    <% }; %>

    var god = ['default'];
      <% for (let i = 0; i < name.length; i++) { %>
        god.push('<%=name[i]%>');
      <% }; %>

//     new Chart(document.getElementById("bar-chart"), {
//     type: 'bar',
//     data: {
//       labels:god,
//       datasets: [
//         {
//           label: "Items in stock",
//           backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
//           data: dataa
//         }
//       ]
//     },
//     options: {
//       legend: { display: false },
//       title: {
//         display: true,
//         text: 'Available Stock Graph'
//       }
//     }
// });


new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: god,
      datasets: [
        {
          label: "Items in Stock",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: dataa
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Available Stock Graph'
      }
    }
});

new Chart(document.getElementById("pie-chart"), {
  type: 'pie',
  data: {
    labels: god,
    datasets: [{
      label: "Stock",
      backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
      data: dataa
    }]
  },
  options: {
    title: {
      display: true,
      text: 'Distribution of stocks'
    }
  }
});

    </script>


<%- include('partials/footerone') %>
