<%- include('partials/header') %>
    
    <div class="container">
        <p>Alpine Trade & Co.</p>
        <h1>Making the Ordinary, Extra-Ordinary</h1>
        <a href="/register" class="buttn">Add Member</a>
        <a href="/login" class="buttn">Login</a>
    </div>

<%- include('partials/footer') %>
