<%- include('partials/header') %>
    
    <div class="container border border-success rounded">
        <p>Alpine Trade & Co.</p>
        <h1>Making the Ordinary, Extra-Ordinary</h1>
        <div class="row">
            <div class="col-sm-3"></div> 
            <div class="col-sm-3 col">  
                <a href="/register" class="btn btn-light btn-lg btn-block btn-outline-success mt-4 mb-4"><h2>Add Member</h1></a>
            </div>
            <div class="col-sm-3 col">
                <a href="/login" class="btn btn-light btn-lg btn-block btn-outline-success mt-4 ml-4 mb-4"><h2>Login</h1></a>
            </div>    
        </div>
    </div>

<%- include('partials/footer') %>
